{% extends "main.html" %}
{% block body %}

<div class="jumbotron jumbotron-fluid" id="jumbo">
	{% if data %}
		<h2><b>Number of results: </b>{{ total }}</h2>
		<br>
    	<ul>
			{% for hit in data %}
  				<li><b>Name:</b> {{ hit["_source"]["name"]}}</li>
  				<li><b>Release date:</b> {{ hit["_source"]["releaseDate"]}}</li>
  				<li><b>Rating value:</b> {{ hit["_source"]["ratingValue"]}}</li>
  				<li><b>Director:</b> {{ hit["_source"]["director"]}}</li>
  				<li><b>Stars:</b>{{ hit["_source"]["stars"]|join(', ') }}</li>
  				<li><b>Description:</b> {{ hit["_source"]["description"]}}</li>
				<br>
				<ul>
  				{% for key, value in hit["highlight"].iteritems() %}
  					<li><b>{{ key.title() }}</b> : {{ value[0]|safe }}</li>
  				{% endfor %}
				</ul>

				<br>
				<hr />
				<br>
			{% endfor %}
		</ul>

	{% else %}

		<h2>&nbsp;&nbsp;No results!!!</h2>
		{% if sug%}
			<br>
			<h3>&nbsp;&nbsp;Try:</h3>
			<br>
			<ul>
  				{% for value in sug %}
  					<li>{{ value|safe }}</li>
  				{% endfor %}
			</ul>
		{% endif %}
	{% endif %}
</div>

{% endblock %}