<!DOCTYPE html>
<html lang="en">
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='bootstrap/dist/css/bootstrap.min.css') }}">

	<script type="text/javascript" src="{{url_for('static', filename='jquery/dist/jquery.slim.min.js')}}">
	</script>
	<script type="text/javascript" src="{{url_for('static', filename='popper.js/dist/umd/popper.min.js')}}">
	</script>
	<script type="text/javascript" src="{{url_for('static', filename='bootstrap/dist/js/bootstrap.min.js')}}">
	</script>

	<style type="text/css">
		.bloc { display:inline-block; vertical-align:top; overflow:hidden; border:solid grey transparent 1px; }
		.bloc select { padding:10px; margin:-5px -20px -5px -5px; width: 200px}
	</style>
</head>

<form action="/search" method="POST" id="f1">
<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col" style="padding-top: 30px; padding-bottom: 20px">
			<div class="input-group input-group-lg">
  				<span class="input-group-addon" id="i1">Search: </span>
  				<input type="text" class="form-control" aria-describedby="basic-addon1" name="q" value="{{ q }}">
			</div>
    </div>
    <div class="col"></div>
  </div>
</div>
<hr />
<div class="container-fluid">
  <div class="row">
    <div class="col">
    	<label> <b>Order by:</b> </label>
    	<div class="form-check">
    	  <label class="form-check-label">
    	    <input onclick="$('#f1').submit();" class="form-check-input" type="radio" name="o" id="r1" value="asc" {% if o == "asc" %} checked {% endif %}>
    	    Rating value ascending
    	  </label>
    	</div>
    	<div class="form-check">
    	  <label class="form-check-label">
    	    <input onclick="$('#f1').submit();" class="form-check-input" type="radio" name="o" id="r2" value="desc" {% if o == "desc" %} checked {% endif %}>
    	    Rating value descending
    	  </label>
    	</div>
    	<hr />

    	{% if aggs %}
    	<label> <b>Aggregation by country:</b> </label><br>
    	<div class="bloc">
    		<select multiple name="a" size="12">
    	    	{% for a in aggs %}
 					<li><option onclick="$('#f1').submit();" value="{{ a['key'] }}">{{ a["key"] }} ({{ a["doc_count"] }})</option>
    			{% endfor %}
    		</select>
    	</div>
    	{% endif %}
    </div>
    
    <div class="col-8">
    {% block body %}{% endblock %}
    </div>
    
    <div class="col"></div>
  </div>
</div>
</form>
