<!DOCTYPE html>
<html lang="en">
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='bootstrap/dist/css/bootstrap.min.css') }}">

	<script type="text/javascript" src="{{url_for('static', filename='jquery/dist/jquery.slim.min.js')}}">
	</script>
	<script type="text/javascript" src="{{url_for('static', filename='popper.js/dist/umd/popper.min.js')}}">
	</script>
	<script type="text/javascript" src="{{url_for('static', filename='bootstrap/dist/js/bootstrap.min.js')}}">
	</script>
</head>

<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col" style="padding-top: 30px; padding-bottom: 20px">
		<form action="/search" method="POST">
			<div class="input-group input-group-lg">
  				<span class="input-group-addon" id="basic-addon1">Search: </span>
  				<input type="text" class="form-control" aria-describedby="basic-addon1" name="term" value="{{ value }}">
			</div>
		</form>
    </div>
    <div class="col"></div>
  </div>
</div>
<hr />
<div class="container-fluid">
  <div class="row">
    <div class="col">
    	<b>Order by:</b>
		<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
		  <div class="btn-group" role="group">
		    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		      Dropdown
		    </button>
		    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
		      <a class="dropdown-item" href="#">Rating value</a>
		      <a class="dropdown-item" href="#">Rating count</a>
		    </div>
		  </div>
		  <div class="btn-group" role="group">
		    <button id="btnGroupDrop2" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		      Dropdown
		    </button>
		    <div class="dropdown-menu" aria-labelledby="btnGroupDrop2">
		      <a class="dropdown-item" href="#">Ascending</a>
		      <a class="dropdown-item" href="#">Descending</a>
		    </div>
		  </div>
		</div>
    <hr />
    </div>
    
    <div class="col-8">
    {% block body %}{% endblock %}
    </div>
    
    <div class="col"></div>
  </div>
</div>