<!DOCTYPE html>
<html lang="en">
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='bootstrap/dist/css/bootstrap.min.css') }}">

	<script type="text/javascript" src="{{url_for('static', filename='jquery/dist/jquery.slim.min.js')}}">
	</script>
	<script type="text/javascript" src="{{url_for('static', filename='popper.js/dist/umd/popper.min.js')}}">
	</script>
	<script type="text/javascript" src="{{url_for('static', filename='bootstrap/dist/js/bootstrap.min.js')}}">
	</script>
</head>

<form action="/search" method="POST">
<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col" style="padding-top: 30px; padding-bottom: 20px">
			<div class="input-group input-group-lg">
  				<span class="input-group-addon" id="i1">Search: </span>
  				<input type="text" class="form-control" aria-describedby="basic-addon1" name="q" value="{{ q }}">
			</div>
    </div>
    <div class="col"></div>
  </div>
</div>
<hr />
<div class="container-fluid">
  <div class="row">
    <div class="col">
    	<label> <b>Order by:</b> </label>
    	<div class="form-check">
    	  <label class="form-check-label">
    	    <input class="form-check-input" type="radio" name="o" id="r1" value="asc" {% if o == "asc" %} checked {% endif %}>
    	    Rating value ascending
    	  </label>
    	</div>
    	<div class="form-check">
    	  <label class="form-check-label">
    	    <input class="form-check-input" type="radio" name="o" id="r2" value="desc" {% if o == "desc" %} checked {% endif %}>
    	    Rating value descending
    	  </label>
    	</div>
    	<hr />

    	<label> <b>Aggregations:</b> </label>
    	<ul>
    	    {% for a in aggs %}
    	  		<li>{{ a["key"] }} ({{ a["doc_count"] }})</li>
    		{% endfor %}
    	</ul>
    </div>
    
    <div class="col-8">
    {% block body %}{% endblock %}
    </div>
    
    <div class="col"></div>
  </div>
</div>
</form>